@model Togglr.Models.UserInput

@{
    @* var formData = Model.userInput; *@
}

<!DOCTYPE html>
<html>
    <p>@ViewData["Description"]</p>
    <p>@ViewData["Pid"]</p>
    <p>@ViewData["Tid"]</p>
    <p>@ViewData["Tags"]</p>
    <p>@ViewData["Date"]</p>
    <p>@ViewData["Start"]</p>
    <p>@ViewData["Stop"]</p>
</html>